In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('Realistic_Messy_Employee_Dataset_Beginner_Friendly.csv')
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.isnull().sum()

ID                      0
Name                  125
Age                    61
Gender                784
Email                  66
Phone_Number           77
City                  596
Department            535
Salary                 55
Joining_Date          111
Experience_Years       64
Performance_Score     668
Manager_ID             69
Work_Location         735
Bonus_Percentage      131
Remote_Onsite        1020
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 6081 non-null   int64
 1   Name               5956 non-null   object
 2   Age                6020 non-null   object
 3   Gender             5297 non-null   object
 4   Email              6015 non-null   object
 5   Phone_Number       6004 non-null   object
 6   City               5485 non-null   object
 7   Department         5546 non-null   object
 8   Salary             6026 non-null   object
 9   Joining_Date       5970 non-null   object
 10  Experience_Years   6017 non-null   float64
 11  Performance_Score  5413 non-null   object
 12  Manager_ID         6012 non-null   float64
 13  Work_Location      5346 non-null   object
 14  Bonus_Percentage   5950 non-null   float64
 15  Remote_Onsite      5061 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 760.3+ KB

In [20]:
missing = df.isnull().sum().sort_values(ascending=False)
missing_percent = (missing / len(df)) * 100
pd.DataFrame({'Missing_Count': missing, 'Missing_Percent': missing_percent})

                   Missing_Count  Missing_Percent
Remote_Onsite               1020        16.773557
Gender                       784        12.892616
Work_Location                735        12.086828
Performance_Score            668        10.985035
City                         596         9.801020
Department                   535         8.797895
Bonus_Percentage             131         2.154251
Name                         125         2.055583
Joining_Date                 111         1.825358
Phone_Number                  77         1.266239
Manager_ID                    69         1.134682
Email                         66         1.085348
Experience_Years              64         1.052458
Age                           61         1.003124
Salary                        55         0.904457
ID                             0         0.000000

In [21]:
df.duplicated().sum()

6

In [22]:
df.drop_duplicates(inplace=True)
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.dtypes

ID                     int64
Name                  object
Age                   object
Gender                object
Email                 object
Phone_Number          object
City                  object
Department            object
Salary                object
Joining_Date          object
Experience_Years     float64
Performance_Score     object
Manager_ID           float64
Work_Location         object
Bonus_Percentage     float64
Remote_Onsite         object
dtype: object

In [24]:
df['Name'].isnull().sum()

124

In [25]:
df[df['Name'].isnull()].head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
311,14132,NaN,19,male,uross@gmail.com,6300814371,Hyderabad,NaN,121454,2022-04-06,15.0,Poor,10001.0,Bangalor,1.0,Onsite
324,19605,NaN,44,Unknown,sanchezstephanie@yahoo.com,847-726-5745x8462,Hyderabad,hr,72354,2026-01-22,13.0,Excellent,10036.0,Delhi,4.0,onsite
365,15739,NaN,59,M,chenderson@jimenez-hall.com,(353)695-8399x3630,Delhi,Finance,53286,2021-10-08,18.0,3,10037.0,NaN,16.0,onsite
368,14876,NaN,42,NaN,thomassandra@yahoo.com,679.812.1645,mumbai,Financ,144907,2022-05-08,0.0,Good,10087.0,Bangalor,13.0,Remote
520,15023,NaN,63,Male,garciahector@owens.com,971-471-1592x9071,Mumbai,hr,86552,2017-10-10,19.0,Excellent,10041.0,Delhi,26.0,Remote

In [26]:
#df['column_name'] = df['column_name'].str.strip().str.replace(r'\s+', ' ', regex=True)

In [27]:
extra_space_names = df[df['Name'].str.startswith(' ') | df['Name'].str.endswith(' ')]
extra_space_names

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
196,17080,Jerry Ellis,37,male,sandracarter@gregory.org,755-653-0679x08707,Chennai,Operations,79245,2022-12-30,2.0,Good,10018.0,Mumbai,20.0,remote
386,11304,Brittany Avery,62,Male,nancy35@torres.com,248-069-6628x264,Hyderabad,sales,69037,2023-05-30,10.0,5,10003.0,NaN,1.0,onsite
402,12983,Kristen Mccormick,39,Female,jason12@gmail.com,658.594.2860,Bangalor,Marketing,4943155,2018-07-26,17.0,5,10056.0,Mmbai,17.0,NaN
430,15095,Vincent Franco,NaN,male,james01@miller-valencia.info,+1-581-351-9496,Mumbai,Finance,105733.3,2017-03-29,3.0,4,10059.0,Mmbai,13.0,Remote
433,14276,Jill Jones,55,Female,arthurallen@barry.com,+1-795-496-4059x322,Bangalore,HR,136017,2020-11-05,9.0,1,10096.0,Hyderabad,29.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5926,12380,Mike Hawkins,twenty,female,jamesarnold@hotmail.com,5526582771,Delhi,hr,81827,2018-05-27,19.0,Excellent,10028.0,Delhi,11.0,Onsite
5980,19651,William Soto,35,Male,hmurphy@patterson-cisneros.com,001-312-760-1682x14507,Hyderabad,IT,149547,2022-09-21,5.0,Excellent,10016.0,Mmbai,10.0,remote
6002,18306,Amanda Rocha,22,Female,igonzalez@hotmail.com,001-390-092-3546x147,Bangalore,Sales,4667817,2017-08-20,9.0,Poor,10057.0,Mumbai,19.0,remote
6026,14886,Rachel Shaw,forty-five,male,lambertandre@vance-mcpherson.biz,(645)117-5591x893,mumbai,sales,NaN,2020-10-27,4.0,1,10014.0,Bangalor,16.0,Remote
6044,13764,Amber Lee,18,NaN,user#domain.com,534.668.7825x656,NaN,IT,122470,2019-08-20,7.0,4,10069.0,Hyderabad,30.0,Hybrid

In [28]:
print('Total names with extra spaces =', len(extra_space_names))

Total names with extra spaces = 126

In [29]:
import re

def has_special_char(name):
    if pd.isnull(name):
        return False
    return bool(re.search(r'[^a-zA-Z\s]', name))

special_char_names = df[df['Name'].apply(has_special_char)]
special_char_names.head(20)

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
87,16021,Dr. Phillip Austin,20,female,richardjones@gmail.com,368.326.6659x394,Mumbai,Sales,93125,"Oct 27, 2024",15.0,3,10061.0,Hyderabad,30.0,Onsite
132,17459,Scott Bates Jr.,62,Male,fordgerald@yahoo.com,+1-103-135-1436,mumbai,HR,44204,2024-11-26,12.0,1,10016.0,Mmbai,10.0,Remote
177,16971,Mr. Fernando Pena DVM,26,male,caineric@rodriguez.com,001-707-292-9713x59237,Bangalor,HR,62535,2025-07-15,4.0,NaN,88888.0,Hyderabad,19.0,remote
254,12704,Mr. Philip Webb,61,female,hermankyle@santiago-green.org,+1-568-666-0363x473,Mmbai,Operations,129427,2025-12-28,7.0,Good,10033.0,Mumbai,-10.0,Hybrid
275,13053,Perry Villegas Jr.,60,Female,jeremy15@copeland.biz,001-507-697-8881x08694,Hyderabad,Marketing,116321,2023-12-19,6.0,5,10006.0,Mmbai,14.0,Hybrid
290,19378,Mr. Patrick Bennett Jr.,54,NaN,tflynn@underwood.info,(768)352-6971x361,Mumbai,IT,95241,2017-04-26,30.0,1,10047.0,Mmbai,29.0,Remote
292,16585,Mrs. Cindy Maldonado,29,female,camposnicole@yahoo.com,837-199-2031,Hyderabad,Sales,129835,2016-04-03,16.0,Excellent,10040.0,Mumbai,27.0,NaN
320,16871,Dr. Maurice Beasley DDS,-20,NaN,robert70@hughes-ramirez.com,1566126900,Mmbai,hr,98953,2024-08-02,0.0,2,10078.0,Mumbai,28.0,Hybrid
321,17013,Mr. Dwayne Perez,44,Male,sydney59@gmail.com,771.637.4753,NaN,Operations,30340,2024-10-23,20.0,1,10026.0,Mmbai,25.0,Hybrid
411,12235,Dr. James Fisher,18,NaN,brandon73@gutierrez.org,755.948.0608x8724,Delhi,sales,64667.1,2021-07-14,20.0,Poor,10047.0,Mmbai,4.0,onsite
421,17532,Dr. Monica Franklin,33,female,elizabethhancock@lee.com,290-436-3649x7982,Hyderabad,Finance,145212,2020-07-06,12.0,Excellent,10070.0,NaN,3.0,Hybrid
429,11524,Mr. Steven Miller,35,Male,vsmith@hotmail.com,(974)449-9861x6474,Mmbai,Marketing,44592.31,2025-12-13,2.0,NaN,10029.0,NaN,22.0,Remote
465,15460,Mrs. Diana Robinson,48.8,male,annettesmith@yahoo.com,(091)045-6766x531,mumbai,Financ,102509,2024-08-16,12.0,Poor,10018.0,Delhi,6.0,Remote
527,16745,Mr. Evan Byrd,61,Male,philipreyes@gallagher.org,880-377-1079,Mumbai,NaN,120636,2024-01-20,16.0,2,10063.0,Chennai,3.0,Hybrid
550,16769,Mrs. Katrina Pearson,24,M,zharrington@roberts.org,571-272-1937x21713,Chennai,Sales,101580,2023-01-10,25.0,2,10049.0,Delhi,18.0,Onsite
579,12160,Dr. Laurie Nguyen,thirty-two,Female,jarnold@wright-king.biz,(924)322-3135,Bangalor,sales,76833,2016-10-16,12.0,Good,10001.0,Hyderabad,18.0,Remote
645,13145,Walter Flores Jr.,65,female,brian59@rojas.com,(625)865-7933,mumbai,IT,79747.41,2025-01-15,17.0,4,10034.0,Mmbai,1.0,onsite
732,11005,Mrs. Yvonne Chavez,43,M,hcarpenter@osborne-miranda.net,601-053-3229,Mumbai,NaN,61491,2017-08-12,18.0,NaN,10067.0,NaN,128.0,remote
781,15776,Mr. Allen Murray,34,female,udennis@gmail.com,001-321-328-6144x8433,Mmbai,Operations,131883,2017-08-19,13.0,4,88888.0,Chennai,30.0,onsite
809,15900,Dr. Michael Gonzalez,64,M,timothy95@wade-barrera.biz,620-093-8778x019,Mumbai,HR,40239,2020-05-01,17.0,4,10069.0,Delhi,NaN,Hybrid

In [31]:
print('Total names with extra spaces =', len(special_char_names))

Total names with extra spaces = 138

In [32]:
df['Name'] = df['Name'].fillna('Unknown')

In [33]:
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [35]:
df['Name'] = df['Name'].astype(str).str.strip()

In [36]:
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [37]:
df['Name'].replace('Morgan Reyes', 'Morgan #@Reyes')

0          Morgan #@Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [38]:
df['Name'] = df['Name'].apply(lambda x:re.sub(r'[^a-zA-Z\s]', '', x))

In [39]:
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [40]:
df['Name'] = df['Name'].str.title()

In [41]:
df['Name'].isnull().sum()

0

In [43]:
df['Name'].head(10)

0        Morgan Reyes
1      Brendan Thomas
2     Jeanette Hooper
3       Jesse Stewart
4     William Maxwell
5      Rachel Shelton
6    Antonio Anderson
7      Colin Robinson
8       Sarah Stevens
9      Nichole Garcia
Name: Name, dtype: object